html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tabs {
    margin: 10px;
    height: 95%;
}

.files_main_table {
    width: 100%;
}

.files_main_table tr td {
    vertical-align: top;
    width: 50%;
}

.files_fieldset {
    background-color: #ffffee;
    height: 100%;
}