html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 0;
    background-color: #eff5f9;
}

#ajax_loading {
    background-image: url('/content/images/loading.gif');
    height: 66px;
    width: 66px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    display: none;
}

.tabs {
    height: 100%;
    background: #eff5f9 url('/content/images/background.png') no-repeat fixed center;
}

.files_main_table {
    width: 100%;
    height: 100%;
}

.files_main_table tr td {
    vertical-align: top;
    width: 50%;
}

.files_fieldset {
    background-color: #ffffee;
    height: 100%;
}

.tree {
    background-color: #ffffee;
}

.info_table {
    width: 200px;
    margin: auto;
}

.info_key {
    width: 150px;
    vertical-align: top;
}

.info_value {
    font-style: italic;
    vertical-align: top;
    text-align: right;
}

.files_comments {
    margin: 20px 5%;
    width: 90%;
}

.files_comment_even {
    padding-top: 3px;
    background-color: #b5cde0;
}

.files_comment_odd {
    padding-top: 3px;
}

.files_comment_footer {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: right;
}

.files_comment_author {
    font-style: italic;
}

.files_comment_date {

}

.search {

}

.tag_cloud {
    float: right;
    border: 1px solid black;
}

.tag_cloud a {
    text-decoration: none;
}

.resource_group_table tr td  {
    padding-left: 10px;
    padding-right: 10px;
}

#resource_group_name_input {
    width: 200px;
}

#resource_group_description_textarea {
    width: 200px;
    height: 100px;
}