html, body {
    background-color: #92a0b3;
}

.login_div {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;

    margin-top: 20%;

    color: #92a0b3;
    background-color: #003333;

    text-align: center;
}

.log_table {
    width: 80%;
    margin-left: 10%;
}

.log_input {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

.log_input_text {
    width: 200px;
    height: 20px;
    font-size: 14px;
    background-color: #92a0b3;
    color: white;
    margin-left: 10px;
}